.ChooseTicket_Container{
   margin: 11%;
   border: 2px solid rgb(193, 230, 193); 
   padding: 10px;
}

.trainMaket{
    margin: 20px;
    width: 200px;
    height: 600px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.trainSeat{
    width: 30px;
    height: 30px;
    background-color: rgb(179, 238, 179);
    margin: 5px;
    text-align: center;
    line-height: 30px;
}

.trainTable{
    width: 80px;
    height: 30px;
    background-color: rgb(190, 216, 216);
    border-radius: 45%;
}

.leftSide, .rightSide{
    width: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}