@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Comfortaa', cursive;
}

.wrapper{
  display: flex;
  flex-direction: column;    
  min-height: 100vh;
  
}

.Footer{
  margin-top: auto;
  z-index: 1;
}


input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
