.Searchbar{
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Searchbar::after,
.Searchbar::before
{
  content: '';
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  box-shadow: 0px 0px 15px 30px #ffffff;
  z-index: 0;
}

.Searchbar::before{
  top: 0;  
}

.Searchbar::after{
  bottom: 0;
}

.Searchbar__items{
  padding: 1% 1%;
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 150px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 10px #ffffff;
}


.input_container__to__no{
  display: none;
}

.placeholder__no{
  display: none;
}

.Controller__button__route, .Controller__button__station{
  margin-right: 10px;
  color: #414145;
  background-color: #ffffff;
  border-radius:10px;
  border: 3px inset #578b32;
  position: relative;
  font-size: 20px;
  padding: 5px;
  padding-left: 40px;
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
}


.RouteAndStationIcon{
  position: absolute;
  top: 5px;
  left: 6px;
  width: 28px;
  height: 28px;
}



.Searchbar__controller{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.invisible{
  display: none;
}

.Searchbar__gets{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* INPUT STYLES */
.input_container__from, .input_container__to, .input_container__date {
  position: relative;
  margin: 20px 10px;
}


.FromAndToIcons{
  position: absolute;
  top: 7px;
  right: 2px;
  width: 50px;
  height: 50px;
}



.input{
  width:430px;
  height: 60px;
  background-color: №ffffff;
  border: none;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid #15172b53;
  text-align: center;
  font-size: 30px;
  transition: all 0.2s linear;
}


.placeholder {
  color: #65657b;
  font-size: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: all 200ms, color 200ms;
  top: 27.5px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-40px) translateX(10px) scale(0.75);
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #ffffff;
  font-weight: 700;
  padding: 7px;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #136809;
  left: 5%;
}

.input:focus ~ .placeholder {
  color: #136809;
  font-size: 17px;
  text-align: center;
  left: 5%;
}

.input:focus{
  outline: none;
  background-color: #ffffff;
  border-bottom: 2px solid #15172b;
}

.Searchbar__button{
  text-align: center;
  position: relative;
  padding: 0px 20px;
  width: 200px;
  height: 60px;
  color: #254d09;
  background-color: #ffffff;
  border-radius:10px;
  border: 3px solid #254d09;
  font-size: 30px;
  font-weight: 900;
  transition: all 0.2s linear;
}

.Searchbar__button:hover{
  font-size: 33px;
  background-color: #e0f3d1;
  cursor: pointer;
}

/* MEDIA */

@media (max-width: 1770px) {
  
  .link__button{
    text-align: center;
    width: 100%;
  }

  .input_container__to, .input_container__from, .input_container__date{
    width: 100%;
  }
  .input{
    width: 100%;
  }
  .Searchbar__items{
    width: 500px;
  }
}

@media (max-width:500px) {
  .Searchbar__controller{
    justify-content: space-around;
  }

  .Controller__button__route, .Controller__button__station{

    height: 46px;
    font-size: 14px;
    margin: 0
  }

  .Searchbar{
    padding: 20% 3%;
  }

  .Searchbar__items{
    width: 100%;
  }
}

